{% load static %}
<!DOCTYPE html>
<html>
<head>

	{% block titulo %}
    {% endblock %}

	       <!-- Bootstrap CSS -->
	<!--#Powered by Nemo with help from Google-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

</head>


<body>
    <nav class="navbar" style="background-color:rgba(0,0,0,0.8);">
        {% if user.is_authenticated %}
            <a href="{% url 'home'  %}" style="color:white; margin-right:auto;">Inicio</a>
            <a href="{% url 'logout'  %}" style="color:white;">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'home'  %}" style="color:white; margin-right:auto;">Inicio</a>
        {% endif %}
    </nav>

	{% comment %} {% block content %} {% endcomment %}

<div style="background-color:rgba(0,0,0,0.8);
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;">

        {% if "valido" in request.GET %}

            <p style="color: white;"> Informacion enviada correctamente </p>

        {% endif %}

        {% if "novalido" in request.GET %}

            <p style="color: white;"> No se pudo enviar el mensaje </p>

        {% endif %}

        <form action="" method="POST" style="text-align: center;">
           <!-- Agrega campo oculto, donde esta un cod largo a modo de clave de forma aleatoria -->
            {% csrf_token %} 
            <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150px;">
        </form>
    
    </div>


	{% comment %} {% endblock %} {% endcomment %}

<footer class="footer text-faded text-center py-5">
    <div class="container-button">
        <p class="m-0 mbt">
        	<a style="color:white;">Grupo 8 Informatorio</a>
		</p>
        <p class="m-0">
	        <a href="https://twitter.com/empleochaco" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="https://www.facebook.com/empleochaco" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="https://www.instagram.com/empleochaco/" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt1" style="color:white;">&copy; Informatorio 2021</p>
    </div>
</footer>


    <style>
        body{
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
            background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("https://la.network/wp-content/uploads/2020/02/Chaco-Resistencia-ambiente.jpg");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        button{
            cursor: pointer;
        }

    </style>
</body>
 
</html>
