{% extends 'base.html' %} 
{% load static %}

{% block title %} 
  <title>GRUPO N°8</title>  
{% endblock %} 

{% block content %} 
<h1 style="color: white; margin: 0 5% 0 10%;">Nuestro Equipo De Desarrollo</h1>

<section style="display: inline-block;">
 <!-- DESDE ACÁ IRÍA EL IF-->

 {% for int in integrantes %}
<div class="form-register" style="border: 1px solid white;">
  <div>
    <div>
      <div>
        <div class="avatar"> <img src="{{int.imagen.url}}" alt="our_team"> </div>
        <p>
	        <a href=" {{int.twitter}} " class="link btn-redes">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="{{int.facebook}}" class="link btn-redes">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="{{int.instagram}}" class="link btn-redes">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p> 
    </div>
      <h1 style="border-bottom: 2px solid white;">{{int.id_usuario.first_name.capitalize}}, {{int.id_usuario.last_name.capitalize}} </h1>
      <h3 style="margin-top: -10px;"> Función: <strong>{{int.funcion}}</strong> </h3>
      <p> {{int.descripcion_personal}} </p>
      <span style="font-size: x-small; margin-top: 2px;"> Última conexión: {{int.id_usuario.last_login}} </span>
    </div>
  </div>
</div>
{% endfor %}
<!-- HASTA ACÁ IRÍA EL IF-->
</section> 

<style>
body{
  align-items: center;
}
.avatar img {
    position: relative;
    top: -15px; /* ajustar los valores para mover la imagen */
    left: -5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1%;
    /* border:2px solid #fff; */
    display: block;
}

.social{
  /*las imágenes usadas tienen width de 48px*/
  width:48px;
  position:relative;
  top:0;
  right:0;
}

/* Extra centrado vertical*/

.social{
  /*border:1px solid #000;*/
  top:50%;
  height:205px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top:-100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register{
    width: 400px;
    height: 650px;   
    display:inline-flex;
    background: rgb(109, 39, 50, 0.7) ;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgb(46, 37, 37);
}

.form-register div{
  margin-top: auto;
  display: inline-block;
}

.form-register h1{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 10px;

}

.controls {
    width: 100%;
    background: #d68787;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:  1px solid #440329;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register a{
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(29, 28, 28);
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #8a5353;
    border: none;
    padding: 12px;
    color: white; 
    margin: 5px 0;
    font-size: 16px;    
}

</style>

{% endblock %}



