{% extends 'base.html' %}
{% load static %}

{% block title %} 
  <title>Inicio</title>  
{% endblock %} 

{% block content %}

<div>
  <a style = "display: block;text-align: right; color: rgba(5,5,5,0.2);" href = "/admin" type="button"> Ir al Admin </a>
  <h1 style="text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-align: center;">Iniciamos la aventura</h1>
  <h5 style="max-width: 500px; margin: 0 auto 2rem; color: #fff; text-align:center;">Prepárate para comenzar, toma un respiro profundo, sumérgete en este juego y aprende nuevas cosas sobre la provincia del Chaco.</h5>
    {% if user.is_authenticated %}
      <div style="text-align:center;"><a href="quiz/jugar"><button class="btn btn-lg btn-light btn-notify">¡JUGAR!</button></a></div>
    {% else %}
      <div style="text-align:center;"><a href="{% url 'login' %}"><button class="btn btn-lg btn-light btn-notify">¡INICIEMOS!</button></a></div> 
    {% endif %}
</div>

{% endblock %}
