{% extends 'base.html' %} 
{% load static %}

{% block title %} 
  <title>Inicio</title>  
{% endblock %} 

{% block content %} 

{% if user.is_authenticated %} 
  <div style="margin-top: 2%;">
    <h1>Hola {{user.username}}!</h1> 
    <a href="{% url 'jugar' %}"> JUGAR </a> 
    <p> <a href = "{% url 'logout' %}"> CERRAR SESIÓN </a></p> 
  </div> 
  <p><a href="{% url 'password_change' %}">CAMBIAR CONTRASEÑA</a></p>

  {% else %} 
  
  <div style="margin-top: 2%;">
    <h1>Usted no se ha identificado </p></h1> 
    <h3><a href="{% url 'login' %}">INICIAR SESION</a></h3>
    <h3><a href="{% url 'registrarse' %}">REGISTRARSE</a></h3>
    <h3><a href="{% url 'password_reset' %}">OLVIDE MI CONTRASEÑA</a></h3>
    <p>PROBANDO ESTILOS</p>
  </div>  
  <p class="pas">PROBANDO ESTILOS</p>
 

{% endif%} 
{% endblock %}



