{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>LOGIN</title> 
{% endblock title %}

{% block content %}
<div style="border: brown solid 4px; 
            background-color: hsla(100, 50, 150, .6); 
            text-align: center;
            position: absolute;
            padding: 5%;
            margin: 15px 40% auto 40%;">
    <h2> INICIAR SESIÓN </h2> 

    <form  method = "post">     
        {% csrf_token %} 
        
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {{form.as_p}}
         
        <button type = "submit" > Iniciar sesión  </button> 
        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu clave?</a></p>

    </form>
</div>
{% endblock content %} 


