{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>LOGIN TUTORIAL </title> 
{% endblock title %}

{% block content %}
<body>
    

<div style="position:relative;">
    <div class="container">
        <h2 class="titulo-h2"> INICIAR SESIÓN </h2> 

            <form  method = "post"> 
    
            {% csrf_token%} 
        
            {{form.as_p}} 
            <button type = "submit" > Iniciar sesión  </button> 
            <p><a href="{% url 'password_reset' %}">¿Olvidaste tu Contraseña?</a></p>
            <p><a href="{% url 'registrarse' %}">Registrarse</a></p>

            </form>
    </div>
</div>

<style>
    body{
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
    .titulo-h2{
        color:#333;
        
    }
    .container{
        border: 1px solid black;
        width: 25%;
        height: 25%;
        margin-top: 100px;
        background-image: linear-gradient(to right top, #88ac92, #8dad8a, #94ad82, #9ead79, #a9ac71);
    }
    button{
        cursor: pointer;
    }
    
</style>
</body>
{% endblock content %}


