{% extends 'base.html' %}

{% block title %} <title>Nueva Contraseña</title> {% endblock %}

{% block content %}   

{% if validlink %}
  <section class="form-register">
    <h1>Establezca una nueva contraseña</h1>
    <form method="POST">
      {% csrf_token %}
      <p><label for="id_new_password1">Contraseña nueva:</label></p> 
      <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><span class="helptext"></span><br><ul><li>Su contraseña no puede ser similar a otros componentes de su información personal.</li><li>Su contraseña debe contener por lo menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li><li>Su contraseña no puede estar formada exclusivamente por números.</li></ul>
      <p><label for="id_new_password2">Confirmación de contraseña nueva:</label></p> 
      <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
      <input class="botons" style="margin-top: 60px;" type="submit" value="Cambiar mi Contraseña">
    </form>
  </section>

{% else %}
<section class="form-register">
  <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
</section>
{% endif %}
















<style>

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .form-register{
      width: 400px;
      background: #6d2732;
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family: 'calibri';
      color: white;
      box-shadow: 7px 13px 37px rgb(190, 189, 189);
  }


  .form-register h1{
      font-size: 35px;
      margin-bottom: 25px;
      margin-top: 10px;

  }

  .form-register input{
    width: 100%;
    background: #d68787;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 4px;
    margin: 0;
    border:  1px solid #440329;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  .form-register label{
    width: 100%;
    
    
    border-radius: 4px;
    margin-top: 10px;
   
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p{
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: 15px;
      
  }

  .form-register ul{
      height: 35px;
      text-align: center;
      line-height: 1.3;
      margin-top: 5px;
      font-size: x-small;
      margin: 3px;
  }

  .form-register a{
      color: white;
      text-decoration: none;
  }

  .form-register a:hover {
      color: white;
      text-decoration: underline;
  }

  .form-register .botons {
      width: 100%;
      background: #8a5353;
      border: none;
      padding: 12px;
      color: white;
      margin: 5px 0;
      font-size: 16px;    
    }

</style>
{% endblock %}