{% extends 'base.html' %}

{% block title %} <title>Nueva Contraseña</title> {% endblock %}

{% block content %}

{% if validlink %}
  <section class="form-register">
    <h1>Establezca una nueva contraseña</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }} 
      <input class="botons" type="submit" value="Cambiar mi Contraseña">
    </form>
  </section>

{% else %}
<section class="form-register">
  <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
</section>
{% endif %}

<style>

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .form-register{
      width: 400px;
      background: #24303c;
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family: 'calibri';
      color: white;
      box-shadow: 7px 13px 37px rgb(190, 189, 189);
  }

  .form-register h1{
      font-size: 35px;
      margin-bottom: 25px;
      margin-top: 10px;

  }

  .form-register input{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:  1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p{
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: 25px;
      margin-bottom: -15;
  }

  .form-register a{
      color: white;
      text-decoration: none;
  }

  .form-register a:hover {
      color: white;
      text-decoration: underline;
  }

  .form-register .botons {
      width: 100%;
      background: #1f53c5;
      border: none;
      padding: 12px;
      color: white;
      margin: 5px 0;
      font-size: 16px;    
  }

</style>
{% endblock %}