{% extends 'base.html' %}

{% block title %} <title>Nueva Contraseña</title> {% endblock %}

{% block content %}

<div style="margin: 25% 35%; text-align: center;" class="form-register">
    <h1>Cambio de contraseña exitoso! haga click <a href="{% url 'home' %}">aquí</a>  para ir a Inicio</h1>
</div>


<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register{
    width: 400px;
    background: #6d2732;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgb(190, 189, 189);
}

.form-register h1{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 10px;

}

</style>


{% endblock %}