{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Registrarse</title> {% endblock %}

{% block content %}

<section class="form-register">
    <h1>Agregar usuario</h1>

    <form method="post" novalidate="">
    {% csrf_token %}

    <div>
        <div>
            <div>
                <input type="text" name="first_name" class="controls" placeholder="Nombres" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_nombres">
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="last_name" class="controls" placeholder="Apellidos" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_apellidos">
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="username" class="controls" placeholder="Usuario" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
                <div style="font-size: small; margin-top: -15px; margin-bottom: 15px;">Obligatorio. Longitud máxima de 150 caracteres. Solo puede estar formado por letras, números y los caracteres @/./+/-/_.</div>
            </div>
        </div>

        <div>
            <div>
                <input type="email" name="email" class="controls" placeholder="Email" id="id_email">
            </div>
        </div>

        <div>
            <div>
                <input type="password" name="password1" class="controls" placeholder="Contraseña" autocomplete="new-password" required="" id="id_password1">
                <div style="font-size: small; margin-top: -15px; margin-bottom: 15px;"><ul><li>Su contraseña no puede ser similar a otros componentes de su información personal.</li><li>Su contraseña debe contener por lo menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li><li>Su contraseña no puede estar formada exclusivamente por números.</li></ul></div>
            </div>
        </div>

        <div>
            <div>
                <input type="password" name="password2" class="controls" placeholder="Contraseña" autocomplete="new-password" required="" id="id_password2">
                <div style="font-size: small; margin-top: -15px; margin-bottom: 15px;">Introduzca la misma contraseña nuevamente, para poder verificar la misma.</div>
            </div>
        </div>
    </div>

    <p>Estoy de acuerdo con los <a href="#">términos y condiciones</a></p>

    <input type="submit" value="Guardar" class="botons" name="_save">
   
    <p><a href="{% url 'login' %} ">¿Ya tenes una cuenta?</a></p>

    </form>
</section>

<style>

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .form-register{
        width: 400px;
        background: #6d2732;   
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px rgb(190, 189, 189);
    }

    .form-register h1{
        font-size: 35px;
        margin-bottom: 25px;
        margin-top: 10px;

    }

    .controls {
        width: 100%;
        background: #d68787;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border:  1px solid #440329;
        font-family: 'calibri';
        font-size: 18px;
        color: white;
    }

    .form-register p{
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-top: 25px;
        margin-bottom: -15;
    }

    .form-register a{
        color: white;
        text-decoration: none;
    }

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

    .form-register .botons {
        width: 100%;
        background: #8a5353;
        border: none;
        padding: 12px;
        color: white;
        margin: 5px 0;
        font-size: 16px;    
    }

</style>

{% endblock %}